table { margin-left: auto;
        height: 456px;
        width: 800px;
        margin: auto;
    }
    table, td {
        border: solid 2px;
        border-collapse: collapse;
    }
    tr:nth-child(odd) {
        background: red;
    }
    tr:nth-child(even) {
        background: whitesmoke;
    }
    .Stars {
        width: 400px;
        height: 246px;
        margin: auto;
        flex-wrap: wrap;
    position: absolute;
    padding-left: 268px;
    }